{{- if .Values.configuration }}
{{- range .Values.extraEnv }}
{{- if eq .name "AKHQ_CONFIGURATION" }}
{{- fail "Can't use AKHQ_CONFIGURATION extraEnv together with ConfigMap configuration." }}
{{- end }}
{{- end }}
apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ template "akhq.fullname" . }}
  {{- with .Values.configmapAnnotations }}
  annotations:
    {{- toYaml . | nindent 4 }}
  {{- end }}
  labels:
    app.kubernetes.io/name: {{ include "akhq.name" . }}
    helm.sh/chart: {{ include "akhq.chart" . }}
    app.kubernetes.io/instance: {{ .Release.Name }}
    app.kubernetes.io/managed-by: {{ .Release.Service }}
data:
  application.yml: |
{{ toYaml .Values.configuration | indent 4}}
{{- end }}
