@import 'variables.scss';
@import '~bootstrap/scss/bootstrap';
@import '~font-awesome/scss/font-awesome';
@import '~react-datepicker/dist/react-datepicker.css';

$theme-colors: (
  "primary": $primary,
  "warning": $warning
);

body {
  background-color: $body-bg-dark;
  color: $gray-100;
}

h1 {
  color: $gray-100;
}

ul.nav-tabs {
  .nav-link {
    background-color: transparent;
    border: 0 solid;
    border-bottom-width: 4px;
    border-bottom-color: transparent;
    padding: 10px 30px;
    color: white;

    &.active,
    &:hover.active {
      font-weight: bold;
      color: $primary;
      border-bottom-color: $primary;
      border-bottom-width: 4px;
      background-color: transparent;
    }

    &:hover {
      transition-duration: 0ms;
      border-bottom-color: $gray-400;
      border-bottom-width: 4px;
    }
  }
}

.tabs-container {
  .tab-content {
    padding: 20px;
    border: 1px solid $nav-tabs-border-color;
    background: $gray-900;
    border-top: 0;
  }
}

footer {
  width: 100% !important;
}
footer div, footer a {
  margin-left: 8px;
}

.react-datepicker {
  display: inline-flex !important;
}

.settings-wrapper {
  display: flex;
}

.form-group {
  margin-bottom: 16px;
}

table {
  tbody {
    .key {
      color: $warning;
    }

    pre {
      white-space: pre-wrap;
      overflow-wrap: break-word;
      overflow: hidden;
      max-height: 100px;
      cursor: pointer;
      position: relative;

      code {
        white-space: pre-wrap;
        overflow-wrap: break-word;
        word-break: break-all;
        display: block;
        color: $gray-500;
        font-size: 12px;

        &:after {
          content: '';
          width: 100%;
          height: 35px;
          position: absolute;
          left: 0;
          bottom: 0;
          background: linear-gradient(transparent, $body-bg-dark);
        }
      }
    }
  }
}

.table-responsive {
  .action-hover {
    text-align: center;
  }

  .fa {
    color: white;
  }
}
