@import "./../assets/css/init";

// vendor
@import "~bootstrap/scss/bootstrap";
$fa-font-path: "../fonts";
@import "~font-awesome/scss/font-awesome";
@import "~react-datepicker/dist/react-datepicker.css";

// old styles
@import "../../assets/modules/templates/bootstrap";
@import "../../assets/modules/templates/layout";
@import "../../assets/modules/templates/login";
@import "../../assets/modules/templates/sidebar";
@import "../../assets/modules/datas/filter";
@import "../../assets/modules/datas/highlight";
@import "../../assets/modules/datas/after-offset";
@import "../../assets/modules/forms/ace";
@import "../../assets/modules/forms/datetime";
@import "../../assets/modules/forms/multiple";
@import "../../assets/modules/forms/select";
@import "../../assets/modules/tables/table";
@import "../../assets/modules/tables/row-action";

// components
@import "components/Base/Base.scss";
@import "components/Table/styles.scss";

// containers
@import "containers/SideBar/styles.scss";
@import "containers/Tail/styles.scss";
@import "containers/NodesList/Node/styles.scss";
@import "containers/TopicList/Topic/TopicProduce/styles.scss";
@import "containers/PageNotFound/styles.scss";
@import "components/DatePicker/styles.scss";


// app
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo
  {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


#content aside {
  width: 100%;
  left: 0;
}
