### Java
*.class
*.log
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar
hs_err_pid*
*.hprof

### Gradle
.gradle/*
build/*
!gradle-wrapper.jar
.gradletasknamecache

### Assets
src/main/resources/static
src/main/resources/ui
node_modules
client/node_modules
client/build
client/assets
client/src/App.scss
client/bower_components
client/node
client/.env*.local
node

### Ide ###
.idea/*
.vscode/*
.project/*
.settings/*
out/*

### Log ###
.*.log
.*.log.[0-9]
*.log.[0-9]
logs/*

### Kafka HQ ###
src/**/*-*.yml
connects-plugins/

### Docs
docs/contributors.html

## Docker
.env
docker-compose.override.yml

