.mu-service-icon-box,
.mu-team-social-info a:hover,
.mu-team-social-info a:focus,
.mu-footer-area a:hover,
.mu-footer-area a:focus,
.mu-hero-left .mu-primary-btn,
.mu-hero-left .mu-primary-btn:hover,
.mu-hero-left .mu-primary-btn:focus,
.mu-single-using i,
.using-value {
    color: #005f81;
}

.mu-testimonial-slide .slick-dots li button::before,
.mu-testimonial-slide .slick-dots li.slick-active button::before {
    color: #ecbb13;
}


#mu-footer {
    border-top: 2px solid #ecbb13;
    background: #2f2f2f;
    color: #FFFFFF;
}

#mu-footer a {
    color: #FFFFFF;
}


.mu-book-overview-icon-box,
.mu-social-media a,
.mu-social-media a:hover,
.mu-social-media a:focus,
.mu-order-btn:hover,
.mu-order-btn:focus {
    border: 1px solid #005f81 !important;
    color: #005f81 !important;;
}

#mu-hero,
.mu-about-social a,
.mu-pricing-content .mu-popular-price-tag,
#mu-video-review:before {
    background-color: #005f81;
}

.mu-hero-right {
    border: 1px solid #003E55 !important;
}

.mu-header-dot, .mu-using-dot,
.mu-testimonial-slide .slick-dots li button:hover,
.mu-testimonial-slide .slick-dots li button:focus,
.mu-testimonial-slide .slick-dots li.slick-active button {
    background-color: #ecbb13;
}

.mu-single-using {
    border: 1px solid #005f81;
}

.mu-contact-form .form-control:focus,
.mu-testimonial-slide .slick-dots li button:hover,
.mu-testimonial-slide .slick-dots li button:focus,
.mu-testimonial-slide .slick-dots li.slick-active button {
    border: 1px solid #ecbb13;
}

.mu-about-info-contributors {
    color: #ecbb13;
}

