#app::before {
        content: "sbla";
        display: block;

}

/* ========= BUTTON =========*/

.mu-primary-btn {
	background-color: transparent;
	border-radius: 100px;
	border: solid 1px #ffffff;
	color: #fff;
	display: inline-block;
	font-size: 15px;
	font-weight: 400;
	letter-spacing: 1px;
	padding: 12px 25px;
	-webkit-transition: all 0.5s;
	transition: all 0.5s;
    text-decoration: none;
}

.mu-primary-btn:hover,
.mu-primary-btn:focus {
	background-color: #fff;
	color: #000;
}


/*--------------------*/
/* HERO SECTION */
/*--------------------*/

#mu-hero {
	display: inline;
	float: left;
	padding: 100px 0 50px 0;
	width: 100%;
}

.mu-hero-left{
	display: inline;
	float: left;
	width: 100%;
	margin-top: 20px;
}

.mu-hero-right {
	display: inline;
	float: left;
	width: 100%;
}

.mu-hero-left h1 {
	color: #fff;
	font-size: 40px;
}

.mu-hero-left h1 sup{
	font-size: 50%;
}


.mu-hero-left p {
	color: #fff;
	margin-bottom: 20px;
}

.mu-hero-left .mu-primary-btn {
	margin-top: 20px;
	background-color: #fff;
	font-weight: 600;
}

.mu-hero-left .mu-primary-outline-btn, .mu-primary-outline-btn:hover {
	margin-top: 20px;
	margin-left: 10px;
	background-color: transparent;
	border: 2px solid white;
	font-weight: 600;
	color: white !important;
}

.mu-hero-left .mu-primary-outline-btn:hover, .mu-hero-left .mu-primary-outline-btn:focus {
	background-color: transparent;
	color: white;
}

.mu-hero-left span {
	display: block;
	margin-top: 10px;
	color: #f8f8f8;
}


/*--------------------*/
/* USING */
/*--------------------*/

#mu-using {
	background-color: #fff;
	display: inline;
	float: left;
	position: relative;
	width: 100%;
}

.mu-using-area {
	display: inline;
	float: left;
	padding: 40px 0;
	width: 100%;
}

.mu-using-title {
	color: #1c1b1b;
    text-align: center;
}

.mu-single-using {
    display: flex;
	text-align: center;
	vertical-align: center;
	width: 90%;
	height: 90%;
	padding: 15px;
	margin: 10% 5%;
	align-items: center;
	justify-content: center;
}


/*--------------------*/
/* OVERVIEW */
/*--------------------*/


#mu-book-overview {
	background-color: #f8f8f8;
	display: inline;
	float: left;
	width: 100%;
}

.mu-book-overview-area {
	display: inline;
	float: left;
	padding: 100px 0;
	width: 100%;
}

.mu-heading-area {
	display: inline;
	float: left;
	text-align: center;
	padding: 0 10%;
	width: 100%;
}

.mu-heading-title {
	color: #1c1b1b;
	margin-bottom: 15px;
	position: relative;
}

.mu-header-dot {
	border-radius: 0;
	height: 3px;
	width: 100px;
	display: inline-block;
	margin: 0 auto;
    margin-bottom: 20px;
}

.mu-book-overview-content{
	display: inline;
	float: left;
	margin-top: 70px;
	width: 100%;
}

.mu-book-overview-single {
	display: inline;
	float: left;
	text-align: center;
	width: 100%;
	height: 16rem;
	background: #fff;
	padding: 20px 10px;
	margin: 10px 0 15px;
}

.mu-book-overview-icon-box {
	font-size: 25px;
	padding: 5px 12px;
	margin-bottom: 30px;
	display: inline-block;
}

.mu-book-overview-single h4{
	margin-bottom: 20px;
}


/*--------------------*/
/* VIDEO REVIEW */
/*--------------------*/


#mu-video-review {
	background-image: url("../styles/home/video-review-bg.jpg");
	background-attachment: fixed;
	background-size: cover;
	display: inline;
	position: relative;
	float: left;
	width: 100%;
}

#mu-video-review:before {
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	opacity: 0.84;
}

.mu-video-review-area {
	display: inline;
	float: left;
	padding: 100px 0;
	width: 100%;
    position: relative;
}

.mu-video-review-area .mu-heading-title,
.mu-video-review-area .mu-heading-area p{
	color: #fff;
}

.mu-video-review-area .mu-header-dot {
	background-color: #f8f8f8;
}

.mu-video-review-content {
	display: inline;
	float: left;
	margin-top: 70px;
	width: 100%;
	padding: 0 10%;
}

.mu-video-review-content video {
	max-width: 100%;
	border: 1px solid #003E55;
}

/*--------------------*/
/* ABOUT */
/*--------------------*/


#mu-about {
	background-color: #fff;
	display: inline;
	float: left;
	width: 100%;
}

.mu-about-area {
	display: inline;
	float: left;
	padding: 50px 0;
	width: 100%;
}

.mu-about-content{
	display: inline;
	float: left;
	width: 100%;
}

.mu-about-image img {
	transition: transform .3s;
}


.mu-about-image img:hover {
	transform: scale(1.1);
	/*cursor: pointer;*/
}

.mu-about-info {
	display: inline;
	float: left;
	margin-bottom: 40px;
	width: 100%;
}

.mu-about-info h3, .mu-about-info h2 {
	border-bottom: 1px solid #ddd;
	padding-bottom: 10px;
	margin-bottom: 25px;
}

.mu-about-info p {
	display: inline;
}

.mu-about-info p img {
	margin: 5px;
	width: 75px;
}

.mu-contributors-list {
	margin-bottom: 25px;
}

.mu-about-social {
	display: inline;
	float: left;
	margin-bottom: 25px;
	width: 100%;

    a {
        display: inline-block;
        font-size: 16px;
        padding: 5px;
        margin-right: 10px;
        color: #fff;
        width: 35px;
        text-align: center;
    }
}

.mu-about-info-leader {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: flex-end;
}

.mu-about-info-companies {
	margin-top: 5%;
    text-align: center;
    > span {
        margin: 0 5%;
        display: inline-block;
    }
}

.mu-rt-img {
	width: auto;
	height: 150px;
	margin-bottom: 25px;
	display: inline-block;
}

/*--------------------*/
/* USERS TESTIMONIALS */
/*--------------------*/

#mu-testimonials {
	background-image: url("../styles/home/testimonials-bg.jpg");
	background-position: center center;
	background-size: cover;
	background-attachment: fixed;
	display: inline;
	float: left;
	position: relative;
	width: 100%;

    &::before {
        background: rgba(0,0,0,0.9);
        bottom: 0;
        content: '';
        left: 0;
        top: 0;
        right: 0;
        position: absolute;
        opacity: 0.84;
    }
}

.mu-testimonials-area {
	display: inline;
	float: left;
	padding: 210px 0;
	width: 100%;
    position: relative;
}

.mu-testimonials-area h2 {
	color: #fff;
	text-align: center;
}


.mu-testimonials-area {
    color: #FFF;

    .row {
        padding-top: 50px;
    }
}


/*--------------------*/
/* FOOTER */
/*--------------------*/


#mu-footer{
	display: inline;
	float: left;
	width: 100%;
}

.mu-footer-area{
	display: inline;
	float: left;
	padding: 30px 0;
	text-align: center;
	width: 100%;
}

.mu-footer-area a{
	font-weight: 600;
}

.mu-social-media {
	display: inline;
	float: left;
	width: 100%;
}

.mu-social-media a {
	display: inline-block;
	font-size: 15px;
	width: 35px;
	height: 35px;
	line-height: 33px;
	text-align: center;
	margin: 0 5px;
	-webkit-transition: all 0.5s;
	transition: all 0.5s;
	border-radius: 50%;
}

.mu-social-media a:hover,
.mu-social-media a:focus {
	background-color: #fff;
}

.mu-copyright {
	margin-top: 10px;
	display: inline-block;
	font-size: 80%;
}


/*--------------------*/
/* RESPONSIVE STYLE */
/*--------------------*/

@media (max-width: 1199px) {

	.mu-hero-left h1 {
		font-size: 36px;
	}

	.navbar-brand img {
		width: 100px;
		margin-top: -10px;
	}

	.navbar-default .mu-menu li a {
		margin: 10px 12px 5px;
	}

	.mu-about-info {
		margin-top: 0px;
	}

	.mu-video-iframe {
		height: 450px;
	}
}

@media (max-width: 991px) {
	.mu-fixed-nav .navbar-brand img {
		margin-top: -7px;
	}

	.navbar-default .mu-menu li a {
		font-size: 14px;
		margin: 10px 5px;
	}

	#mu-hero {
		padding: 130px 0 10px;
	}

	.mu-hero-right {
		margin-top: 40px;
	}



	.mu-primary-btn {
		font-size: 14px;
		padding: 12px 22px;
	}

	.mu-simplefilter li{
		margin-bottom: 10px;
	}

	.mu-clients-content-single img{
		width: 100%;
	}

	.mu-contact-right {
		margin-top: 50px;
	}

	.mu-video-review-content {
		padding: 0 5%;
	}

	.mu-video-iframe {
		height: 400px;
	}

}

@media (max-width: 767px) {

	.navbar-default .navbar-brand {
		margin-top: -7px;
	}

	.mu-fixed-nav .navbar-brand img {
		margin-top: -8px;
	}

	.navbar-default .navbar-toggle {
		border-color: #fff;
	}

	.navbar-default .navbar-toggle:hover,
	.navbar-default .navbar-toggle:focus{
		background-color: transparent;
	}

	.navbar-default .navbar-toggle .icon-bar {
		background-color: #fff;
	}

	.navbar-default .navbar-collapse, .navbar-default .navbar-form {
		background-color: rgba(0,0,0,0.8);
		text-align: center;
	}

	.navbar-default .mu-menu li a {
		display: inline-block;
	}

	.mu-hero-right {
		margin-top: 0;
	}

	#mu-hero {
		padding: 100px 0 60px;
	}

	.mu-about-info {
		margin-top: 30px;
	}

	.mu-contact-content {
		padding: 0 10%;
	}

	.mu-using-title {
		padding-left: 20px;
	}


}


@media (max-width: 640px){

	#mu-header.mu-fixed-nav {
		padding: 10px 0;
	}

	.mu-heading-area {
		padding: 0;
	}

	.mu-video-iframe {
		height: 300px;
	}

	.mu-primary-btn {
		font-size: 12px;
		padding: 10px 12px;
		margin-top: 15px;
	}

	.slick-dots {
		bottom: 15px;
	}


}


@media (max-width: 480px) {

	.navbar-brand img {
		width: 100px;
	}

	#mu-header {
		padding: 10px 0;
	}

	.navbar-default .navbar-brand {
		font-size: 25px;
		margin-top: -3px;
	}

	.navbar-toggle {
		padding: 7px 8px;
		margin-top: 10px;
	}


	.navbar-toggle .icon-bar {
		width: 18px;
	}

	h2{
		font-size: 25px;
	}

	.mu-heading-title {
		margin-bottom: 10px;
	}

	.mu-video-iframe {
		height: 250px;
	}

	.mu-contact-content {
		padding: 0 5%;
	}

	.mu-about-content-single h4 {
		margin-bottom: 18px;
	}

	.mu-team-social-info a {
		width: 35px;
		height: 35px;
		font-size: 16px;
		line-height: 35px;
	}

	.mu-contact-form button {
		width: 100%;
	}

}


@media (max-width: 360px){

	.mu-featured-slider-content {
		top: 49%;
	}

	.mu-featured-slider-content p,
	.mu-featured-slider-content .mu-primary-btn {
		display: none;
	}

	.mu-featured-slider-content h1 {
		font-size: 18px;
		margin-bottom: 0;
	}

	.mu-filter-item-content {
		padding-top: 25%;
		padding-left: 5px;
		padding-right: 5px;
	}

	.filtr-item h4 {
		font-size: 12px;
	}

	.mu-team-content .row > div {
		width: 100%;
	}

	.mu-simplefilter li {
		padding: 1rem 1rem;
		font-size: 12px;
	}

}


