.loading {
  position: fixed;
  top: 45%;
  left: 45%;
  transform: translate(-50%, -50%);
	transform: scale(1);
	animation: pulse 3s infinite;
}

@keyframes pulse {
	0% {
		transform: scale(0.75);
	}

	70% {
		transform: scale(1);
	}

	100% {
		transform: scale(0.75);
	}
}