/* ----------------------------------------------------------------------------------------------------------------- *\
    Bootstrap
\* ----------------------------------------------------------------------------------------------------------------- */

// Typography
$font-family-sans-serif: 'Open Sans', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
  'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol',
  'Noto Color Emoji' !default;
$font-family-monospace: 'Source Code Pro', SFMono-Regular, Menlo, Monaco, Consolas,
  'Liberation Mono', 'Courier New', monospace !default;
$font-family-title: 'Open Sans Condensed', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
  'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol',
  'Noto Color Emoji' !default;
$font-size-base: 0.875rem;
$font-weight-bolder: 700;

// Color system
$white: #fff !default;
$gray-100: #f8f9fa !default;
$gray-200: #ebebeb !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #999 !default;
$gray-700: #444 !default;
$gray-800: #303030 !default;
$gray-900: #222 !default;
$black: #000 !default;

$blue: #33b5e5 !default;
$indigo: #005f81 !default;
$purple: #9933cc !default;
$pink: #ff4444 !default;
$red: #d44a3a !default;
$orange: #eb7b18 !default;
$yellow: #ecbb13 !default;
$green: #299c46 !default;
$teal: #20c997 !default;
$cyan: #3498db !default;

$primary: $blue !default;
$secondary: $gray-700 !default;
$tertiary: $indigo;
$success: $green !default;
$info: $cyan !default;
$warning: $yellow !default;
$danger: $red !default;
$light: $gray-800 !default;
$dark: $gray-500 !default;

$theme-colors: (
  'tertiary': $tertiary,
  'white': $white
);

$yiq-contrasted-threshold: 175 !default;

// Body
$body-bg: #171819 !default;
$body-color: $white !default;

// Links
$link-color: $blue !default;

// Tables
$table-bg: transparent;
$table-accent-bg: $gray-800 !default;
$table-border-color: $gray-700 !default;
$table-dark-bg: $black !default;
$table-dark-border-color: $gray-700 !default;
$table-dark-color: $white !default;
$table-hover-bg: darken($primary, 25%);

// Forms
$input-group-addon-color: $gray-500 !default;
$input-group-addon-bg: $gray-700 !default;
$input-disabled-bg: $gray-500 !default;
$input-group-addon-border-color: $input-group-addon-bg;

$custom-file-color: $gray-500 !default;
$custom-file-border-color: $gray-700 !default;

// Dropdowns
$dropdown-bg: $gray-900 !default;
$dropdown-border-color: $gray-700 !default;
$dropdown-divider-bg: $gray-700 !default;
$dropdown-link-color: $white !default;
$dropdown-link-hover-color: $white !default;
$dropdown-link-hover-bg: $primary !default;

// Navs
$nav-link-padding-x: 2rem !default;
$nav-link-disabled-color: $gray-500 !default;
$nav-tabs-border-color: $gray-700 !default;
$nav-tabs-link-hover-border-color: $nav-tabs-border-color $nav-tabs-border-color transparent !default;
$nav-tabs-link-active-color: $white !default;
$nav-tabs-link-active-border-color: $nav-tabs-border-color $nav-tabs-border-color transparent !default;

// Navbar
$navbar-padding-y: 1rem !default;
$navbar-dark-color: $white !default;
$navbar-dark-hover-color: $success !default;
$navbar-light-color: rgba($white, 0.5) !default;
$navbar-light-hover-color: $white !default;
$navbar-light-active-color: $white !default;
$navbar-light-disabled-color: rgba($white, 0.3) !default;
$navbar-light-toggler-border-color: rgba($white, 0.1) !default;

// Pagination
$pagination-color: $white !default;
$pagination-bg: $success !default;
$pagination-border-width: 0 !default;
$pagination-border-color: transparent !default;
$pagination-hover-color: $white !default;
$pagination-hover-bg: lighten($success, 10%) !default;
$pagination-hover-border-color: transparent !default;
$pagination-active-bg: $pagination-hover-bg !default;
$pagination-active-border-color: transparent !default;
$pagination-disabled-color: $white !default;
$pagination-disabled-bg: darken($success, 15%) !default;
$pagination-disabled-border-color: transparent !default;

// Jumbotron
$jumbotron-bg: $gray-800 !default;

// Cards
$card-cap-bg: $gray-700 !default;
$card-bg: $gray-800 !default;

// Popovers
$popover-bg: $gray-800 !default;
$popover-header-bg: $gray-700 !default;

// Modals
$modal-content-bg: $gray-800 !default;
$modal-content-border-color: $gray-700 !default;
$modal-header-border-color: $gray-700 !default;

// Progress bars
$progress-bg: $gray-700 !default;

// List group
$list-group-bg: $gray-800 !default;
$list-group-border-color: $gray-700 !default;
$list-group-hover-bg: $gray-700 !default;

// Breadcrumbs
$breadcrumb-bg: $gray-700 !default;

// Close
$close-color: $white !default;
$close-text-shadow: none !default;

// Code
$pre-color: inherit !default;

/* ----------------------------------------------------------------------------------------------------------------- *\
    Font Awesome
\* ----------------------------------------------------------------------------------------------------------------- */
$fa-font-path: '~/font-awesome/fonts/';

/* ----------------------------------------------------------------------------------------------------------------- *\
    Menu
\* ----------------------------------------------------------------------------------------------------------------- */
$menu-width: 250px;
$scrollbar-width: 0.5em;
