@import "variable";

$web-font-path: "https://fonts.googleapis.com/css?family=Lato|Open+Sans:300,400,400i,600,700,800" !default;
@import url($web-font-path);
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css");

$font-family-sans-serif: "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
$font-family-monospace: 'Source Code Pro', SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;

@import "bootstrap/scss/functions";
@import "bootstrap/scss/variables";
@import "bootstrap/scss/variables-dark";
@import "bootstrap/scss/mixins";
@import "bootstrap/scss/maps";
@import "bootstrap/scss/utilities";
@import "bootstrap/scss/root";
@import "bootstrap/scss/reboot";
@import "bootstrap/scss/type";
@import "bootstrap/scss/containers";
@import "bootstrap/scss/grid";

body {
    background: var(--vp-c-bg, #fff) !important;
    color: var(--vp-c-text, rgb(60, 60, 67)) !important;
}

:root {
    --vp-c-accent: var(--bs-blue);
    --vp-c-accent-hover: var(--bs-primary-text-emphasis);

}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'Lato', sans-serif;
	font-weight: 700;
    padding-top: 0 !important;
    margin-top: 2rem !important;
    margin-bottom: 1rem !important;
}

h2 {
    border-bottom: 0;
}

a {
    text-decoration: none !important;
}

blockquote {
    font-size: $font-size-base;
}

code {
    background-color: lighten($body-bg, 5%);
    padding: 0 4px;
    font-size: $font-size-base;
}

header.navbar {
    background-color: rgba(0, 0, 0, 0.8);
    color: #FFF;

    .logo {
        height: 65px;
        margin-top: -10px;
    }
    .site-name {
        display: none;
    }

    a:hover {
        text-decoration: none;
    }
}

.custom-container {
    a {
        font-weight: bold;
    }
}

.landing {
    main {
        padding: 0;
        max-width: none;
    }

    header.hero {
        display: none;
    }
}


.vp-hero, .vp-site-name {
    display: none;
}