.action-hover :hover {
  cursor: pointer;
}

.align-cell {
  display: flex;
  justify-content: flex-start;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  align-items: center;
}

.no-stripes tr {
  background-color: rgba(100, 100, 100, 0.4);
}

.collapsed-extra-row {
  max-height: 30px !important;
  overflow: hidden;
}

.header-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

