.filter-datetime {
    width: 100%;
    display: block;
    margin: auto;
    overflow: hidden;
    padding-left: 1.5rem;
}

.row-checkbox {
    margin-left: 0;
    align-items: baseline;
}

.select-wrapper-copy {
    width: 80%;
    margin-bottom: 1rem;
}

.input-nr-messages {
    margin-left: 3px;
}