#navbar-search {
  .form-inline {
    align-items: center;
    display: flex;
    flex-flow: row wrap;
  }

  .topic-search-wrapper,
  .select-wrapper {
    display: flex;
    justify-content: space-between;
    margin-left: 0 !important;

    @include media-breakpoint-down(lg) {
      width: 100%;
      margin: 0 !important;

      .topic-search-input,
      .select-class {
        width: 100%;
      }
    }
  }

  @include media-breakpoint-up(lg) {
    .topic-search-input,
    .select-class {
      margin-right: 0.5rem;
    }
    .select-wrapper {
      margin-left: 0;
      margin-right: 0.5rem;
    }
  }
}
