.card {
  width: 100%;
  max-width: 330px;
  margin: 0 auto;
  text-align: center;
  margin-top: calc(50vh - 165px) !important;

  padding: 40px;
  background: #222;
  box-shadow: 0 0 40px 5px rgba(#005f81, 0.4);

  .logo {
    margin-bottom: 40px;
  }

  .form-separator {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 1rem 0;

    span {
      padding: 0 10px;
    }

    &:before,
    &:after {
      content: ' ';
      height: 1px;
      background: currentColor;
      flex: 1 1 auto;
    }
  }

  .input-group-text {
    height: 100%;
  }
}
