.tail-search-wrapper {
  width: 240px;
  display: flex;
  justify-content: space-between;
  padding-right: 20px;

  @media (max-width: 991.98px) {
    width: 100%;
    padding-right: 0;

    .tail-search-input {
      width: 100%;
    }
  }

}


.tail-headers:hover {
    text-decoration: underline !important;
    color: white !important;
}
