.tail-search-wrapper {
  width: 270px;
  display: flex;
  justify-content: space-between;
  padding-right: 20px;
}

.tail-headers:hover {
    text-decoration: underline !important;
    color: white !important;
}