.filter-datetime {
  width: 100%;
  display: block;
  margin: auto;
  overflow: hidden;
  padding-left: 1.5rem;
}

.partition-input {
  margin-bottom: 0;
  width: 80%;
}

.partition-input-div {
  width: 100%;
}
