@import '../../css/init';

input.page-input {
  width: 30px !important;
  margin-top: 0;
  border: 0;
  padding: 0;
  background: transparent;
  color: $white;
}

/*remove arrows from input*/
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type='number'] {
  -moz-appearance: textfield;
}
