.info {
    display: inline-block;
    height: 100%;
    width: 40%;
    vertical-align: middle;
}

.pagination {
    max-width: 13rem;
    width: 100%;
    max-height: 5rem;
    position: relative;
    left: 2%;
    display: inline-block;
    padding-bottom: 0.6rem;
    padding-top: 0.6rem;
    margin-left: auto;
}

.page-number {
    padding-bottom: 0.4rem;
    padding-top: 0.4rem;
}

.page-link {
    height: 100%;
}

.page-input{
    font-size: 12px;
    width: 40%;
    max-width: 40%;
    border-radius: 5%;
}

.page-item.before, .page-item.after {
    width: 15%;
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

button.before-button, button.after-button {
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

.page-item.before button:disabled:hover.before-button a span, .page-item.before button:disabled:hover.before-button a, 
.page-item.after button:disabled:hover.after-button a span, .page-item.after button:disabled:hover.after-button a {
    cursor: not-allowed;
    background-color: #32a9d4;
}

.page-item.before :hover, .page-item.after :hover {
    cursor: pointer;
    background-color: #32a9d4;
}

/*remove arrows from input*/
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance:textfield;
}

.pagination-input.page-input{
    margin-top: 0px;
}