.wrapper-class{
  padding-top: 0;
  padding-bottom: 0;
}

.input-class{
  width: 100%;
}

.add-button {
  height: 80%;
}

.header-wrapper {
  display: flex;
  direction: row;
  justify-content: space-between;
  align-items: center;
}

.header-row {
  min-width: 80%;
  justify-content: space-between;
  padding: 0 !important;
  padding-right: 2% !important;
}

@media (max-width: 575px) {
  .wrapper-class.key{
    margin-left: 15px;
  }

  .wrapper-class{
    padding-right: 0px;
  }

  .header-row{
    width: 102%;
  }
}