.react-datepicker {
  display: inline-flex !important;
}

.date-block {
  display: inline-block !important;
}

.display-none {
  display: none;
}

.react-datepicker-wrapper {
  display: flex;
  width: 100%;
  margin-right: .5rem;
}
