.expanded {
  margin-left: $sidebar-expanded !important;
  width: calc(100% - $sidebar-expanded) !important;
}

.collapsed {
  margin-left: $sidebar-collapsed !important;
  width: calc(100% - $sidebar-collapsed) !important;
}
